*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-image: url("../image/nas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: repeat-y;
    color: white;

}
h1{
    margin-left: 40px;
}
header{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
ul{
    margin-right: 120px;
    overflow: hidden;
    transition: all 2s;
}
nav ul li {
    width: 65%;

    display: inline;
    font: italic;
    font-weight: 500;
    font-size: 18px;
    
  
}
ul li{
    list-style: none;
    padding: 7px;
    margin-right: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
    color: white;
}
a:focus ,a:hover{
    border-bottom: 4px solid white;
}
#conteudo{
    width: 100%;
    height: 60vh;
    display: flex;

}
aside{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#textolado{
    
    margin: 130px 20px 0 20px;
    width: 60%;
    height: 70%;
    order: -1;
}
#Txtprimary{
    color: white;
    font: italic;
    font-weight: 500;
    font-size: 22px;
    margin: 50px 0 0 150px;
    letter-spacing: 4px;
}
#profisao{
    font: italic;
    font-weight: 400;
    font-size: 22px;
    margin-left: 80px;
    margin-bottom: 10px;
}
#nome{
    font: italic;
    font-weight: 600;
    font-size: 35px;
    margin-left: 80px;
    margin-bottom: 10px;
}
#texto{
    font: italic;
    font-weight: 600;
    font-size: 20px;
    margin-left: 80px;
    
}
#article2{
    margin: auto;
    width: 60%;
    display: flex;
   
}
.selecionadores{
    margin: 30px 8px 0 8px;
    padding: 5px;
    width: 20px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: gray;
}
.selecionadores.ativo, .selecionadores:hover{
    background-color: white;
    cursor: pointer;
}
button{
    background-color: transparent;
    color: #fff;
    border: none;
    position: absolute;
    top: 60px;
    right: 30px;
    font-size: 20px;
    display: none;
}
button:hover{
    cursor: pointer;
}
button:focus ~ nav ul{
    height: 141px;
}
@media(max-width: 1024px){
    header{
        flex-direction: column;
        align-items: unset;
    }
    nav ul li{
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    ul{
        margin: auto;
        width: 100%;
        height: 0;
    }
    button{
        display: block;
    }
    section{
        width: 100%;
        display: inline-block;
    }
    #conteudo{
        width: 100%;
        margin: auto;
        display: block;
        height: 70vh;
    }
    #textolado{
        width: 80%;
        margin: 20px auto;
    }
    #profisao{
        font-size: 14px;
        margin: 0;
    }
    #nome{
        font-size: 20px;
        margin: 0;
    }
    #texto{
        width: 90%;
        font-size: 16px;
        margin: 0;
    }
    #aside{
        display: inline-block;
        width: 100%;
        margin: auto;

    }
    #picture{
      width: 100%;
      display: inline-block;
      margin-left: 80%;
       
    }
    #Txtprimary{
        display: inline-block;
        margin: 20px 20px;
        font-size: 14px;
    }
    #article2{
        margin: auto;
        width: 30%;
        display: flex;
       
    }
}
