*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-image: url("../image/nas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    margin-left: 40px;
}
header{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
ul{
    margin-right: 120px;
    overflow: hidden;
    transition: all 2.5s;
    
}
nav ul li {
    width: 65%;

    display: inline;
    font: italic;
    font-weight: 500;
    font-size: 18px;
    
  
}
ul li{
    list-style: none;
    padding: 7px;
    margin-right: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
    color: white;
}
a:focus ,a:hover{
    border-bottom: 4px solid white;
}
#Txtprimary{
    color: white;
    font: italic;
    font-weight: 500;
    font-size: 22px;
    margin: 50px 0 0 150px;
    letter-spacing: 4px;
}
#numero{
    color: rgb(112, 111, 112);
}
section{
    display: flex;
    width: 100%;
    height: 500px;
    
    justify-content: flex-end;
    align-items: center;
}
#conteudo{
    width: 60%;
    height: 70%;
    margin-right: 20px;
}
#getseletores{
    text-align: center;
}
.seletores{
    margin: 30px 15px;
    padding:10px;
    font-size: 19px;
}
.nomePlaneta{
    margin: 20px 0;
    text-align: center;
    font-size: 80px;
    color: white;
    font: italic;
    font-weight: 300;
}
#txtMeio{
    margin: auto;
    width: 60%;
    text-align: justify;
    color: white;
    font: italic;
    font-weight: 300;
}
hr{
    
    width: 70%;
    margin: 25px auto;
    background-color: thistle;
    height: 4px;

}
#textobaixo{
    display: flex;
    justify-content: space-around;
}
.both{
    color: white;
    font: italic;
    font-weight: 500;
    font-size: 22px;
}
button{
    background-color: transparent;
    color: #fff;
    border: none;
    position: absolute;
    top: 60px;
    right: 30px;
   font-size: 20px;
   display: none;
}
button:hover{
    cursor: pointer;
}
button:focus ~ nav ul{
    height: 141px;
}
@media(max-width: 1024px){
    header{
        flex-direction: column;
        align-items: unset;
    }
    nav ul li{
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    ul{
        margin: auto;
        width: 100%;
        height: 0;
        padding: 2px;
    }
    button{
        display: block;
    }
    body{
        width: 100%;
        background-repeat: repeat-y;
    }
    section{
        display: inline-block;
        margin: auto;
        height: 140vh;
    }
    #planeta{
        display: block;
        margin: auto;
        width: 45vh;
    }
    #conteudo{
        width: 90%;
        display: block;
        margin: 30px auto;
    }
    #Txtprimary{
        display: inline-block;
        font-size: 15px;
        margin: 20px;
    }
    .nomePlaneta{
        font-size: 20px;
    }
    #txtMeio{
        font-size: 15px;
    }
    #textobaixo div p{
        font-size: 15px;
        
    }
    #getseletores a{
        display: inline;
        width: 100%;
        font-size: 13px;
        margin: 2px;
    }
}
