*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-image: url("../image/byspace.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: repeat-y;
    color: white;

}
h1{
    margin-left: 40px;
}
header{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
ul{
    margin-right: 120px;
    
}
nav ul li {
    width: 65%;

    display: inline;
    font: italic;
    font-weight: 500;
    font-size: 18px;
    
  
}
ul li{
    list-style: none;
    padding: 7px;
    margin-right: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
    color: white;
}
a:focus ,a:hover{
    border-bottom: 4px solid white;
}
#conteudo{
    width: 100%;
    height: 60vh;
    display: flex;

}
aside{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#textolado{
    
    margin: 130px 20px 0 20px;
    width: 60%;
    height: 70%;
    
}
#Txtprimary{
    color: white;
    font: italic;
    font-weight: 500;
    font-size: 22px;
    margin: 50px 0 0 150px;
    letter-spacing: 4px;
}
#profisao{
    font: italic;
    font-weight: 400;
    font-size: 22px;
    margin-left: 80px;
    margin-bottom: 10px;
}
#nome{
    font: italic;
    font-weight: 600;
    font-size: 35px;
    margin-left: 80px;
    margin-bottom: 10px;
}
#texto{
    font: italic;
    font-weight: 600;
    font-size: 20px;
    margin-left: 80px;
    
}
#article2{
    margin: auto;
    width: 60%;
    display: flex;
   
}
.selecionadores{
    margin: 30px 8px 0 8px;
    padding: 5px;
    width: 16px;
    border-radius: 50%;
    background-color: gray;
}
.selecionadores.ativo, .selecionadores:hover{
    background-color: white;
    cursor: pointer;
}